.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  
  .content {
    flex: 1;
    padding-right: 50px;
  }
  
  .image {
    flex: 1;
    display: flex;
    justify-content: center;
   
  }
  
  .image img {
    width: 300px;
    max-width: 1200px;
    height: 450px;
    border-radius: 10px;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color:#6a3939;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    
  }
  
  h2 {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color:#6a3939;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  ul li {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }